

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root{
    --primary-color: blue;
    --primary-font-size:3rem;
}



body{font-family: 'Poppins', sans-serif;


bodybackground-color: rgb(144, 187, 181);}
h1{color: red;}
.sahil{font-size: larger;
font-weight: 900;}
.fluid-container{
padding-left: 2rem;
padding-right: 3rem;
}
.container{
    color:yellowgreen;
    
  font-size: var(--primary-font-size);
margin:auto;
max-width: fit-content;
}

.little
{
   
   
   text-overflow: var(--primary-color);
   text-decoration-color: blue;
   text-decoration: solid;
   
   margin: auto;


/**want links beautified**/

}
.list-linline{
display: inline-block;
text-decoration-style: solid;
text-decoration-color: rgb(255, 0, 149);
position: static;




}
.not-want-bullet{
list-style: none;


}
.link-primary{
    text-decoration: none;
    border-style: initial;
    padding: 1rem 1rem;
    color: var(--primary-color);
    
    border-radius: 2rem;
}
.link-secondary{ padding-left: 7rem3;
padding-right: 4rem;
text-decoration: none;


}
/**want navigation beautified**//
.navi{
    background-color: var(--primary-color);
    color: white;

   text-align: end;
   padding: 2rem 2rem;

}


.code-red{
    color: white;



}