

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root{
    --primary-color:(#a1a1aa);
    --primary-font-size:3rem;
}



body{font-family: 'Poppins', sans-serif;


bodybackground-color: rgb(144, 187, 181);}

h1{color: red;}
.sahil{font-size: larger;
 font-weight: 900;
}


.fluid-container{
 padding-left: 2rem;
 padding-right: 3rem;
}
.container{
    color:yellowgreen;
    
  font-size: var(--primary-font-size);
 margin:auto;
 max-width: fit-content;
}

.little
{
   
   
   text-overflow: var(--primary-color);
   text-decoration-color: blue;
   text-decoration: solid;
   
   margin: auto;

}
/**want links beautified**/

.list-linline{
 display: inline-block;
 text-decoration-style: solid;
 text-decoration-color: rgb(255, 0, 149);
 
}

.not-want-bullet{
  list-style: none; }

.link-primary{
    text-decoration: none;
    border-style: initial;
    padding: 1rem 1rem;
    color: var(--primary-color);
    
    border-radius: 2rem;
}

.link-secondary{ padding-left: 7rem3;
   padding-right: 4rem;
   text-decoration: none;
}

/**want navigation beautified**//
.navi{
    background-color: yellowgreen;
    color: rgb(223, 16, 51);

   
   padding: 2rem 2rem;
}
.navi.list-linline{
    padding: 3rem 5rem;

}

.navi.new-brand{font-weight: bolder;
font-size: large;
font-display: bold;}

.code-red{
    color: rgb(148, 25, 111);

}
.
.hero{

    padding: 1rem
    2rem;
    font-weight: bold;
    margin: auto;
    border-radius: 2rem;
}
.hero.hero-img{
    margin: auto;
    display: block;
    size: 2rem;
}
.hero.hero-font{
    margin: auto;
    color: var(--primary-color);
}